body {
  padding: 0px !important;
  margin: 0px !important;
}
/* .letter-space {
  word-spacing: 0.2rem !important;
  letter-spacing: 0.3rem !important;
} */

.myfotercontainer {
  height: fit-content;
  min-width: 400px;
  background: url("../images/bg.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 3rem;
}
.w-50 {
  width: 50% !important;
  min-width: 50% !important;
}
.bbt {
  /* padding: 1.3rem; */
  border-radius: 40px;
}
.footer-logo a .img-logo1 {
  width: 5rem !important;
  height: auto !important;
}
.footer-logo a .img-logo2 img {
  object-fit: contain !important;
  width: 100% !important;
  height: 100% !important;
}
.footer-logo a .img-logo2 {
  width: 10rem !important;
  height: auto !important;
}

@media screen and (max-width: 1204px) {
  .footer-logo a .img-logo2 {
    width: 9rem !important;
    height: auto !important;
  }
  .footer-logo a .img-logo1 {
    width: 4rem !important;
    height: auto !important;
  }
}
@media screen and (max-width: 1035px) {
    .footer-logo a .img-logo2 {
        width: 8rem !important;
        height: auto !important;
      }
      .footer-logo a .img-logo1 {
        width: 3.4rem !important;
        height: auto !important;
      }
      
}

@media only screen and (max-width: 991px) {
  .footer-logo a .img-logo2 {
    width: 6.7rem !important;
    height: auto !important;
  }
  .footer-logo a .img-logo1 {
    width: 3.2rem !important;
    height: auto !important;
  }
 
}
@media only screen and (max-width: 892px) {
    .footer-logo a .img-logo2 {
      width: 7rem !important;
      height: auto !important;
    }
    .footer-logo a .img-logo1 {
      width: 3rem !important;
      height: auto !important;
    }
  }
@media only screen and (max-width: 700px) {
  .footer-logo a .img-logo2 {
    width: 6rem !important;
    height: auto !important;
  }
  .footer-logo a .img-logo1 {
    width: 3.1rem !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 499px) {
  .footer-logo a .img-logo1 {
    width: 5rem !important;
    height: auto !important;
  }
  .footer-logo a .img-logo2 {
    width: 5rem !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 421px) {
  .footer-logo a .img-logo1 {
    width: 3.5rem !important;
    height: auto !important;
  }

  .footer-logo a .img-logo2 {
    width: 8rem !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 505px) {
  .mbv {
  }
}
/* .container-fluid{
    width: 100% !important;
}
.card {
    background-color: #151557;
    color: white;
    margin-top: 50px;
    border: none;
}

.head1 {
    font-weight: 900;
    font-size: 30px;
}

.bdr {
    border-bottom: 1.5px solid #FFB74D;
    width: 65px;
    margin-right: auto;
    margin-left: auto;
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E;
}

.footer-right>i {
    margin-left: 15px;
}

.fa-hand-holding-usd {
    color: #FFB74D;
}

.fa-handshake {
    color: #FFB74D;
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem;
}

.learn-more {
    color: #FFB74D;
}

.fa-angle-right {
    margin-left: 10px;
}

.fa-3x {
    color: #FFB74D;
}

.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-content>p {
    color: #9E9E9E;
} 

.heading {
    position: relative;
    top: 75px;
}

.follow-text {
    color: #9E9E9E;
} */
